html
	head
		link(rel='stylesheet',href='/fonts/stylesheet.css')
		link(rel='stylesheet',href='/css/chat.css')
		title Chorus
	body
		#header
			.wrap
				.logo
					img(src='../../img/chorus_03.png', style='margin-left: -43px;')
		#boxwindow
			h1 Chat
			#chatbox
				#innercontainer
					#messages
					input#input(type="text")
					#vars
						#room= room
						#role= role
				#users
					#userlist
		#instructions
			ul.steps
				.hr
				h3 Instructions
				li.step-1
					h4 Incentive
					p
						strong You will receive rewards for all activities only if they help the requester.
						br
						| The biggest rewards are given when other workers agree with your helpful input!
				li.step-2
					h4 Help Out
					p
						| Please
						strong do not vote for messages that do not help the requester
						| ; you will be penalized for doing so.
						br
						| If you agree with an 'Important Fact', vote for it by pressing the "+" button, otherwise press the "-" button.
				li.step-3
					h4 Vote
					p
						strong
							| Messages in 'Important Facts' and those highlighted in pink CANNOT be seen by the requester!
							strong
								br
								| Vote on messages that should be seen by the requester by clicking them.
							br
		.footer
			.copyright
				| RocHCI.


	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
	script(src='/socket.io/socket.io.js')
	script(src='/js/chat.js')
